@import '../../theme.scss';
.link{
    height:48px;
    line-height: 48px;
    padding: 0 20px;
    text-decoration:none;
    background-color: $head-nav;
    color: $head-nav-text;
    &-active{
        background-color: $head-nav-active;
        color: $head-nav-text-active;
    }
}
