.full-screen{
    height:100vh;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    background-image:  radial-gradient(#cccccc, #000000);
}
.container{
    height: calc(100vh - 48px);
    overflow: auto;
}