$head-nav:#181d4b;
$head-nav-text:#ffffff;
$head-nav-active:#102b6a;
$head-nav-text-active:#f58220;
.link{
    vertical-align: middle;
    padding: 20px;
    text-decoration:none;
    background-color: $head-nav;
    color: $head-nav-text;
    &-active{
        background-color: $head-nav-active;
        color: $head-nav-text-active;
    }
}
